.textarea-container {
    position: relative;
    tab-size: 4;
}

.textarea-container textarea {
    white-space: pre;
}

.textarea-container::after {
  content: '';
  position: absolute;
  bottom: 4px; 
  right: 4px; 
  width: 2px;
  height: 1.2em;
  background-color: black;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.toast {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #060505;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}